@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Montserrat", serif;

 }
 
 body{
    /* background: linear-gradient(45deg,rgb(151, 1, 1), rgb(2, 2, 168)); */
    background-image: url(../public/background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;

}

/*------------------------Header & Nav------------------------*/

.header{
  
  display: flex;
  height: 8vh;
  justify-content: center;
  align-items: center;
}

.nav{
  
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 2%;
}

.nav__right{
  display: flex;
  gap: 5%;
  width: 50%;
}

.nav__option{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}
.nav__close{
  background-color: transparent;
  border: none;
  font-weight: 600;

  &&:hover{
    cursor: pointer;

  }
}


.nav-login{
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 2%;
  padding: 0 2%;
}


/*------------------------Main------------------------*/

.contentLogin{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12%;
}

.contentLogin__titulo{
  font-size: 40px;
  text-transform: uppercase;
  color: aliceblue;
}


.contentLogin__login{
  background-color: rgba(240, 248, 255, 0.178);
  border-radius: 15px;
  width: 15%;
  height: 40%;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.email, .password{
  color: rgb(34, 34, 34);
  font-weight: 550;
  width: 80%;
}

.email__input, .password__input{

  width: 100%;
  margin: 10px 0;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid aliceblue;
  outline: none;
  font-weight: 500;

  &::placeholder {
    color:white;
  }

}

.form__button{
  background-color: rgb(34, 34, 34);
  color: aliceblue;
  border: none;
  padding: 5px 15px;
  border-radius: 15px;
}